<% provide :title, t("admin_review") %>
<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title"><%= t "list_review" %></h3>
      <div class="box-tools">
      </div>
    </div>
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover table-bordered">
        <thead class="bordered-blueberry">
          <tr>
            <th><%= t "index" %></th>
            <th><%= t "action" %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td class="action text-center">
              <%= link_to t("show"), "#", class: "btn btn-primary fa fa-info-circle"%>
              <%= link_to t("del"), "#", class: "btn btn-danger fa fa-trash"%>
            </td>
          </tr>
        </tbody>
        </thead>
      </table>
    </div>
  </div>
</div>
