<h1><%= t "app.sign_up.sign_up" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: signup_path do |f| %>
      <%= render "shared/error_messages" %>
      <%= f.label :name, t("app.sign_up.username") %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :email, t("app.sign_up.email") %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password, t("app.sign_up.password") %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :password_confirmation, t("app.sign_up.confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <%= f.label :phone, t("app.sign_up.phone") %>
      <%= f.phone_field :phone, class: "form-control" %>
      <%= f.label :address, t("app.sign_up.address") %>
      <%= f.text_field :address, class: "form-control" %>
      <%= f.submit t("app.sign_up.creataccount"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
