<ul>
  <li>
    <b><%= t "app.sign_up.username" %></b>
    <i><%= @user.name %></i>
  </li>
  <li>
    <b><%= t "app.sign_up.email" %></b>
    <i><%= @user.email %></i>
  </li>
  <li>
    <b><%= t "app.sign_up.phone" %></b>
    <i><%= @user.phone %></i>
  </li>
  <li>
    <b><%= t "app.sign_up.address" %></b>
    <i><%= @user.address %></i>
  </li>
</ul>
