<div class="col-md-11">
  <h2 class="mt-4"><%= @tour.name %></h2>
  <%= image_tag Settings.tours.image_demo_lg, class: "img-fluid rounded" %>
  <%= link_to "book_tour", "#", class: "btn btn-primary btn-block" %>
  <hr>
  <blockquote class="blockquote">
    <p class="mb-0"> <%= t "tours.start" %> <%= l @tour.date_from, format: t("tours.date_format") %>
      <%= t "tours.end" %> <%= l @tour.date_to, format: t("tours.date_format") %></p>
    <p class="mb-0"> <%= t "tours.from" %> <%= @tour.location_from %> <%= t "tours.to" %> <%= @tour.location_to %></p>
    <footer class="blockquote-footer">  <%= @tour.description %>
    </footer>
  </blockquote>
  <hr>
</div>
