<header class="navbar navbar-fixed-top navbar-default ">
  <div class="container">
    <%= link_to t("app_name"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to t("app.home"), root_path %>
        </li>
        <% if logged_in? %>
          <li><%= link_to "#{@current_user.name}", current_user %></li>
          <li>
            <%= link_to t("app.login.logout"), logout_path, method: :delete %>
          </li>
          <% if is_admin? %>
            <li>
              <%= link_to t("logo_lg"),  admin_dasboard_index_path%>
            </li>
          <% end %>
        <% else %>
          <li><%= link_to t("app.login.login"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
